accessible-pygments
alabaster
annotated-types
Babel
beautifulsoup4
certifi
cfgv
charset-normalizer
colorama
copier
decorator
distlib
docutils
dunamai
filelock
funcy
identify
idna
imagesize
iniconfig
Jinja2
jinja2-ansible-filters
livereload
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
nodeenv==1.8.0
packaging==24.0
pathlib2==2.3.7.post1
pathspec==0.12.1
pip-tools==7.4.1
platformdirs==4.2.1
pluggy==1.5.0
plumbum==1.8.2
pre-commit==3.7.0
prompt-toolkit==3.0.36
py==1.11.0
pydantic==2.5.3
pydantic_core==2.14.6
pydata-sphinx-theme==0.15.2
Pygments==2.17.2
pytest==8.1.1
PyYAML==6.0.1
pyyaml-include==2.0.2.post1
questionary==2.0.1
requests==2.31.0
ruff==0.4.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tornado==6.4
tox==3.28.0
tox-direct==0.4
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.26.0
wcwidth==0.2.13
