accessible-pygments
alabaster
annotated-types
Babel
beautifulsoup4
certifi
cfgv
charset-normalizer
colorama
copier
decorator
distlib
docutils
dunamai
filelock
funcy
identify
idna
imagesize
iniconfig
Jinja2
jinja2-ansible-filters
livereload
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
nodeenv
packaging
pathlib2
pathspec
pip-tools
platformdirs
pluggy
plumbum
pre-commit
prompt-toolkit
py
pydantic
pydantic_core
pydata-sphinx-theme
Pygments
pytest
PyYAML
pyyaml-include
questionary
requests
ruff
six
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx_design
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tornado
tox
tox-direct
typing_extensions
urllib3
virtualenv
wcwidth
